<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quinnnorris.ssm.mapper.LoginCustomMapper">

    <select id="selectUserByEmail" parameterType="UserCustom" resultType="UserCustom">
        SELECT * FROM user WHERE email = #{email} AND password = #{password}
    </select>

    <select id="selectTeacherById" parameterType="TeacherCustom" resultType="TeacherCustom">
        SELECT * FROM teacher WHERE id = #{id}
    </select>

    <select id="selectStudentById" parameterType="StudentCustom" resultType="StudentCustom">
        SELECT * FROM student WHERE id = #{id}
    </select>

</mapper>