<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quinnnorris.ssm.mapper.UserCustomMapper">

    <insert id="insertUserFromReg" useGeneratedKeys="true" keyProperty="id" parameterType="UserCustom">
        INSERT INTO user (email,password,headp,regtime,lati,longi,usertype) VALUE (#{email},#{password},#{headp},#{regtime},#{lati},#{longi},#{usertype})
    </insert>

    <insert id="insertTeacherFromReg" parameterType="TeacherCustom">
        INSERT INTO teacher (id,firstname,lastname,sex,style,experience,location,payment,wechat)
        VALUE (#{id},#{firstname},#{lastname},#{sex},#{style},#{experience},#{location},#{payment},#{wechat})
    </insert>

    <insert id="insertTeaGoodFromReg"  parameterType="Tea_goodCustom">
        INSERT INTO tea_good  VALUE (#{id},#{goodat})
    </insert>

    <insert id="insertTeaTimeFromReg"  parameterType="Tea_timeCustom">
        INSERT INTO tea_time  VALUE (#{id},#{time})
    </insert>

    <select id="selectUserByEmail" parameterType="UserCustom" resultType="UserCustom">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <insert id="insertStudentFromReg" parameterType="TeacherCustom">
        INSERT INTO student VALUE (#{id},#{userName},#{wechat},#{country_id})
    </insert>

    <insert id="insertPartnerFromReg" parameterType="PartnerCustom">
        INSERT INTO partner VALUE (#{id},#{firstL_id},#{secondL_id},#{sex},#{psex},#{selfIntro},#{isStudent},#{university})
    </insert>

</mapper>